/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  min-height: 100vh; /* السماح بالتمدد عند الحاجة */
  width: 100%;
  overflow: hidden; /* إزالة أي تجاوز غير مرغوب */
}

#helinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#sine {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 0, 102, 0.3);
  z-index: 10;
  background: --webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s; /* Adjust the duration as needed */
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);
}
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh; /* السماح بالتمدد */
}
.slide {
  position: relative;
  width: 100%;
  height: auto; /* السماح بالتكيف */
  min-height: 100vh;
}

.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
  #sine{
    font-size: 30px;
  }
}/* Desktop Styles */
@media screen and (min-width: 769px) {
  .slide .image {
    max-width: 100%; /* Adjust this value as needed */
    height: 100%;
    object-fit:inherit;
  }
  .slide .video {
    max-width: 100%; /* Adjust this value as needed */
    height: 100%;
    object-fit:inherit;
  }
}
